/* common shared style */
body {
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

/* nav relate styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18p;
    font-weight: 400;
    line-height: 30px;
}

.header {
    background-color: #f5eae2;
    background-image: url('../images/header_bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.banner-content {
    max-width: 500px;
}

.banner .profile picture {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-discription {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

main {
    margin-top: 130px;
}

/* about */
.about {
    padding: 140px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.what-i-do-description {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 20px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skill-discription {
    font-size: 5px;
    color: #757575;

}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.section-container{
    display: flex;
}