/* common shared style */
body {
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

/* nav relate styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.header{
    background-color:#f5eae2;;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;


}
.banner .profile picture{
    width: 500px;
}

